.header{
  background-color: blue;
  padding: 10px;
}
.header h1{
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

h2{
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.content{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  /* display: grid;
  grid-template-columns: 2fr 1fr;
  gap:100px ; */
  justify-content: space-evenly;
}
 
 .article{
  flex: 0.6;
}

.user{
  flex: 0.2;
} 

.article__post{
  margin: 20px auto;
  
}
.skeletonUser__h3{
  margin: 15px 0px;
  max-width: 60%;
}
.skeleton__caption{
  margin-bottom: 5px;
}
.user h4{
  margin-bottom: 10px;

}

.user p{
  margin-bottom: 10px;
}
.skeletonArticle__h3{
 margin:  20px 0px;

}